$pale-blue: hsl(225, 100%, 98%);
$dark-blue: hsl(224, 23%, 80%);
$font-family-outfit: 'Outfit', sans-serif;
$font-family-poppins: 'Poppins', sans-serif;
$font-family-red-hat-display: 'Red Hat Display', sans-serif;

$color-white: #fff;
$light-blue: hsl(224, 23%, 55%);
$bright-blue: hsl(245, 75%, 52%);
$desaturated-blue: hsl(224, 23%, 55%);
$dark-blue: hsl(223, 47%, 23%);
$secondary-bright-blue:  hsl(225, 100%, 94%);
$secondary-pale-blue: hsl(225, 100%, 94%);